<div class="clock" [style.width]="dim" [style.height]="dim">
    <div class="clock-bg">
        <div class="hour">
            <div class="hr-handle" [style.transform]="hrStr">

            </div>
        </div>
        <div class="min">
            <div class="mn-handle" [style.transform]="mnStr">

            </div>
        </div>
        <div class="sec">
            <div class="sc-handle" [style.transform]="scStr">

            </div>
        </div>
    </div>
</div>

<span class="clock-title">{{timeZone}}</span>