<div class="col clock-page" [ngClass]="defThemeClass">
    <nav class="row nav">
        <h1 class="title flex-g-2">World Clock</h1>
        <select (change)="notifyThemeProvider(selectTheme.value)" class="select-box" #selectTheme>
            <option *ngFor="let theme of themeService.availableThemes" [value]="theme"
                [selected]="theme == defaultTheme">
                {{ getThemeName(theme) }}</option>
        </select>
        <select [(ngModel)]=defaultTimeZone class="select-box margin-lr-auto">
            <option *ngFor="let timeZone of timeZones" [value]="timeZone">{{ timeZone }}</option>
        </select>
    </nav>
    <section class="row world-clock-container" style="flex-basis: 100%;">
        <clock [timeZone]='defaultTimeZone' [dim]="dimension">

        </clock>
    </section>
    <section class="row multi-clock-container">
        <div class="flex-g-1" *ngFor="let clock of clocks">
            <div class="clock-overlay">
                <clock [timeZone]='clock.timeZone' [dim]="clock.dim">

                </clock>
                <div class="row" style="justify-content: center;">
                    <button type="button" class="btn round-btn btn-30 menu-btn" (click)='deleteClock(clock.id)'>
                        <i class="material-icons-round">delete</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="add-clock-container">
            <button type="button" class="btn rounded-corner-btn btn-50" (click)="onAddBtnClick()">
                <i class="material-icons-round">add</i>
            </button>
        </div>
    </section>
</div>