// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $portfolio-primary: mat-palette($mat-indigo);
// $portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $portfolio-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($portfolio-theme);

@import "./framework.scss";
@import "./vars.scss";

html {
  scrollbar-width: none;
}

body {
  font-family: $current-font-family;
  background: white;
  margin: 0px auto;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.home {
  font-family: $current-font-family;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-page {
  font-family: $current-font-family;
  background: var(--bg);
  height: 100vh;
}

.nav {
  & .title {
    color: var(--text-color);
    margin: 15px 20px;
    font-size: 30px;
  }
}

select.select-box {
  font-family: $current-font-family;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  margin: 20px;
  color: var(--text-color);
  background: var(--bg);
  @include neumorphic-flat(4px, 4px, 8px, var(--highlight-color), var(--shadow-color));
  @include appearance(none);
  background: url(./assets/images/dropdown-ico.png) right / 20px no-repeat transparent;
  padding-right: 20px;
  &:active {
    outline: 0;
    @include neumorphic-inset(4px, 4px, 8px, var(--highlight-color), var(--shadow-color));
  }
  &:focus {
    outline: 0;
  }

  & option {
    background-color: var(--bg);
  }
}

.world-clock-container {
  background: var(--bg);
  color: var(--text-color);
  height: 600px;
  justify-content: center;
  padding: 0px 0px 100px 0px;
}

.multi-clock-container {
  background: var(--bg);
  color: var(--text-color);
  justify-content: space-evenly;
}

.clock-overlay {
  position: relative;
  & .menu-btn {
    margin: 5px 30px 0px 30px;
  }
  // &:hover {
  //   background-color: rgba(0, 0, 0, 0.4);
  //   z-index: 1000;
  // }
}

.clock-container {
  padding: 20px;
}

.clock {
  background: var(--bg);
  border-radius: 50%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

$i: 100;
@while $i <= 500 {
  .clock-#{$i} {
    @include neumorphic-flat(#{$i / 10}px, #{$i / 10}px, #{$i * 2 / 10}px, var(--highlight-color), var(--shadow-color));
  }

  $i: $i + 50;
}

.clock-bg {
  background-image: url("assets/images/clock.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    box-shadow: 2px 2px 2px gray;
    border-radius: 50%;
    z-index: 99;
  }

  & .hour,
  & .min,
  & .sec {
    position: absolute;
  }
  & .hour,
  .hr-handle {
    width: 120px;
    height: 120px;
  }
  & .min,
  .mn-handle {
    width: 150px;
    height: 150px;
  }
  & .sec,
  .sc-handle {
    width: 190px;
    height: 190px;
  }
}

.hr-handle,
.mn-handle,
.sc-handle {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr-handle:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 60px;
  background: #ffffff;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn-handle:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 70px;
  background: #ffffff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc-handle:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 120px;
  background: #ff105e;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.clock-title {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.error-message {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: small;
}
.time-notifier-container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-notifier {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  filter: contrast(20);
}

.add-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 93px;
  flex-basis: 100%;
}

.btn {
  border: none;
  background: var(--bg);
  @include neumorphic-oval(5px, 5px, 10px, var(--highlight-color), var(--shadow-color));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $current-font-family;
  &:active {
    @include neumorphic-pressed(5px, 5px, 10px, var(--highlight-color), var(--shadow-color));
  }
  &:focus {
    outline: 0;
  }
  & i {
    color: var(--text-color);
  }
  &.round-btn {
    border-radius: 50%;
  }
  &.rounded-corner-btn {
    border-radius: 10px;
  }
}

$i: 10;
@while $i <= 60 {
  .btn-#{$i} {
    width: #{$i}px;
    height: #{$i}px;
    @include neumorphic-oval(#{$i / 10}px, #{$i / 10}px, #{$i * 2 / 10}px, var(--highlight-color), var(--shadow-color));

    &:active {
      @include neumorphic-pressed(
        #{$i / 10}px,
        #{$i / 10}px,
        #{$i * 2 / 10}px,
        var(--highlight-color),
        var(--shadow-color)
      );
    }
  }

  $i: $i + 10;
}

.modal-overlay {
  overflow: unset auto;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  & .modal {
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
    border: 1px solid var(--bg);
    border-radius: 10px;
    background: var(--bg);
    color: var(--text-color);
    &.modal-small {
      max-width: 40vw;
    }
    &.modal-medium {
      max-width: 50vw;
    }
    &.modal.modal-large {
      max-width: 60vw;
    }

    @media only screen and (max-width: 570px) {
      &.modal-small {
        max-width: 60vw;
      }
      &.modal-medium {
        max-width: 70vw;
      }
      &.modal.modal-large {
        max-width: 80vw;
      }
    }

    & .modal-header {
      width: 95%;
      border-radius: 10px;
      padding: 10px 10px;
      margin: 5px auto;
      background: var(--bg);
      @include neumorphic-flat(1px, 1px, 2px, var(--highlight-color), var(--shadow-color));
    }

    .btn.modal-close-btn {
      width: 30px;
      height: 30px;
      @include neumorphic-oval(3px, 3px, 6px, var(--highlight-color), var(--shadow-color));

      &:active {
        @include neumorphic-pressed(3px, 3px, 6px, var(--highlight-color), var(--shadow-color));
      }
    }

    .btn.modal-submit-btn {
      padding: 10px;
      color: var(--text-color);
      @include neumorphic-oval(3px, 3px, 6px, var(--highlight-color), var(--shadow-color));

      &:active {
        @include neumorphic-pressed(3px, 3px, 6px, var(--highlight-color), var(--shadow-color));
      }
    }

    & .modal-footer {
      width: 95%;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 0px auto;
    }

    & .modal-content {
      width: 94%;
      overflow: auto;
      max-height: 60vh;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 10px auto;
      background: var(--bg);
      @include neumorphic-flat(2px, 2px, 4px, var(--highlight-color), var(--shadow-color));
    }
  }
}

/* Material Override*/
.mat-dialog-container {
  padding: 0px !important;
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}
