// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $portfolio-primary: mat-palette($mat-indigo);
// $portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $portfolio-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($portfolio-theme);

@import "./framework.scss";
@import "./vars.scss";

html {
  scrollbar-width: none;
}

body {
  font-family: $current-font-family;
  background: white;
  margin: 0px auto;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

.home {
  font-family: $current-font-family;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-page {
  font-family: $current-font-family;
  background: var(--bg);
  height: 100vh;
}

.nav {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  & .title {
    color: var(--text-color);
    margin: 15px 20px;
    font-size: 30px;
  }
}

.world-clock-container {
  background: var(--bg);
  color: var(--text-color);
  // height: 600px;
  justify-content: center;
  padding: 100px 0px 100px 0px;
}

.multi-clock-container {
  background: var(--bg);
  color: var(--text-color);
  justify-content: space-evenly;
}

.clock-overlay {
  position: relative;
  & .menu-btn {
    margin: 5px 30px 0px 30px;
  }
  // &:hover {
  //   background-color: rgba(0, 0, 0, 0.4);
  //   z-index: 1000;
  // }
}

.clock-container {
  padding: 20px;
}

.clock {
  background: var(--bg);
  border-radius: 50%;
  border: 2px solid var(--bg);
  box-sizing: content-box;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

$i: 100;
@while $i <= 500 {
  .clock-#{$i} {
    @include neumorphic-bevel-inset(#{$i / 10}px, #{$i / 10}px, #{$i * 2 / 10}px, var(--highlight-color), var(--shadow-color),
    #{$i / 30}px, #{$i / 30}px, #{$i * 2 / 30}px, var(--highlight-color), var(--shadow-color)
    );
  }

  $i: $i + 50;
}

.clock-bg {
  background-image: url("assets/images/clock.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    box-shadow: 2px 2px 2px gray;
    border-radius: 50%;
    z-index: 15;
  }

  & .hour,
  & .min,
  & .sec {
    position: absolute;
  }
  & .hour,
  .hr-handle {
    width: 120px;
    height: 120px;
  }
  & .min,
  .mn-handle {
    width: 150px;
    height: 150px;
  }
  & .sec,
  .sc-handle {
    width: 190px;
    height: 190px;
  }
}

.hr-handle,
.mn-handle,
.sc-handle {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr-handle:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 60px;
  background: #ffffff;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn-handle:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 70px;
  background: #ffffff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc-handle:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 120px;
  background: #ff105e;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.clock-title {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.error-message {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: small;
}
.time-notifier-container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-notifier {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  // filter: drop-shadow(3px 3px 6px var(--shadow-color));
}

.add-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 93px;
  flex-basis: 100%;
}

/* Material Override*/
.mat-dialog-container {
  padding: 0px !important;
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

::-moz-focus-inner {
  border:0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--text-color);
}