/* Font Stack */
$font-stack:    Arial, Helvetica, sans-serif;
$font-stack-two: Verdana, Geneva, Tahoma, sans-serif;

/* Color Stack */
$neumorph-dark-bg-color: #363636;
$neumorph-dark-shadow-color: #656565;
$neumorph-dark-shadow-dark-color: #1A0000;

